<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >



    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <include name = "user"    />
                <include name = "admin"    />
            </run>
        </groups>

        <classes>
            <class name ="BlogTests">
                <methods>
                    <include name = ".*Link" />
                </methods>
            </class>
            <class name ="GiftsTests">
                <methods>
                    <include name = ".*Link" />
                </methods>
            </class>
            <class name ="HowWeWorkTests">
                <methods>
                    <include name = ".*Link" />
                    <include name = ".*Title.*" />
                    <include name = ".*Content.*" />
                </methods>
            </class>
            <class name ="MainTests">
                <methods>
                    <include name = ".*Play.*" />
                    <include name = ".*Count.*" />
                    <include name = ".*Main.*" />
                </methods>
            </class>
            <class name ="PhotosTests">
                <methods>
                    <include name = ".*Link" />
                    <include name = ".*Add.*" />
                </methods>
            </class>
            <class name ="PrettyWomenTests">
                <methods>
                    <include name = ".*Link" />
                    <include name = ".*Search.*" />
                    <include name = ".*Third.*" />
                </methods>
            </class>
            <class name ="SignInTests">
                <methods>
                    <include name = ".*Link" />
                </methods>
            </class>
            <class name ="ContactUsTests">
                <methods>
                    <include name = ".*ContactUs.*" />
                </methods>
            </class>
            <class name ="TourToUkraineTests">
                <methods>
                    <include name = ".*Link" />
                </methods>
            </class>
            <class name ="RegistrationTests">
                <methods>
                    <include name = ".*FillIn.*" />
                </methods>
            </class>
    </classes>


</test>

</suite>

    <!--test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="RegistrationTests"/>


            <methods>
            <include name = "testGiftsLink" />
            <include name = "testHowWeWorkLink" />
            <include name = "testMainTitleTestCase13" />
            <include name = "testCountPagesContentTestCase14" />
            <include name = "testYoutubePlayButtonTestCase9" />
            <include name = "testCheckCountTitlesTestCase10" />
            <include name = "testCheckMainTitlesTestCase11" />
            <include name = "testClickButtonAddPhototestClickButtonAddPhoto" />
            <include name = "testPhotosLink" />
            <include name = "testPrettyWomenLink" />
            <include name = "testSearchButtonTestCase3" />
            <include name = "testThirdPageTestCase4" />
            <include name = "testSignInFillInLoginPassword" />
            <include name = "testTourToUkraineLink" />
            <include name = "testFillInformationRegistrationPage" />
            <exclude name = "testBlogLink" />
            </methods>

    </test!-->


