<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >



    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <include name = "user"    />
                <include name = "admin"    />
            </run>
        </groups>

        <classes>
            <class name ="BlogTests">
                <methods>
                    <include name = ".*Link.*" />
                </methods>
            </class>
            <class name ="GiftsTests">
                <methods>
                    <include name = ".*Link.*" />
                </methods>
            </class>
            <class name ="HowWeWorkTests">
                <methods>
                    <include name = ".*Link.*" />
                    <include name = ".*Main.*" />
                    <include name = ".*Content.*" />
                </methods>
            </class>
            <class name ="MainTests">
                <methods>
                    <include name = ".*Play.*" />
                    <include name = ".*Count.*" />
                    <include name = ".*Name.*" />
                </methods>
            </class>
            <class name ="PhotosTests">
                <methods>
                    <include name = ".*Link.*" />
                    <include name = ".*Add.*" />
                </methods>
            </class>
            <class name ="RegistrationTests">
            <methods>
                <include name = ".*Fill.*" />
            </methods>
            </class>
            <class name ="PrettyWomenTests">
                <methods>
                    <include name = ".*Link.*" />
                    <include name = ".*Search.*" />
                    <exclude name = ".*Third.*" />
                </methods>
            </class>
            <class name ="SignInTests">
                <methods>
                    <include name = ".*Link.*" />
                </methods>
            </class>
            <class name ="TourToUkraineTests">
                <methods>
                    <include name = ".*Link.*" />
                </methods>
            </class>
        </classes>

    </test>

    

</suite>

    <!--test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="RegistrationTests"/>

        </classes>

    </test!-->


